@import 'tailwindcss';
@import 'tw-animate-css';
/* 
---break--- 
*/
@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9891 0.0132 102.0083);
  --foreground: oklch(0.1363 0.0364 259.201);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.1363 0.0364 259.201);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.1363 0.0364 259.201);
  --primary: oklch(0.8574 0.1748 90.9079);
  --primary-foreground: oklch(0.1363 0.0364 259.201);
  --secondary: oklch(0.9501 0.0769 95.5327);
  --secondary-foreground: oklch(0.1363 0.0364 259.201);
  --muted: oklch(0.9652 0.0517 95.2719);
  --muted-foreground: oklch(0.4387 0.1968 263.2741);
  --accent: oklch(0.919 0.1225 95.5598);
  --accent-foreground: oklch(0.1363 0.0364 259.201);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(0.9851 0 0);
  --border: oklch(0.9349 0.1006 96.2584);
  --input: oklch(0.9652 0.0517 95.2719);
  --ring: oklch(0.8574 0.1748 90.9079);
  --chart-1: oklch(0.9549 0.195 109.5869);
  --chart-2: oklch(0.8254 0.1545 79.8562);
  --chart-3: oklch(0.6934 0.1943 45.7058);
  --chart-4: oklch(0.5501 0.1882 35.4738);
  --chart-5: oklch(0.4224 0.1708 28.909);
  --sidebar: oklch(0.9765 0.0371 97.0718);
  --sidebar-foreground: oklch(0.1363 0.0364 259.201);
  --sidebar-primary: oklch(0.8794 0.1668 93.7051);
  --sidebar-primary-foreground: oklch(0.1363 0.0364 259.201);
  --sidebar-accent: oklch(0.9349 0.1006 96.2584);
  --sidebar-accent-foreground: oklch(0.1363 0.0364 259.201);
  --sidebar-border: oklch(0.9501 0.0769 95.5327);
  --sidebar-ring: oklch(0.8574 0.1748 90.9079);
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Playfair Display', serif;
  --font-mono: 'Fira Code', monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 0.5rem;
  --shadow-spread: 0;
  --shadow-opacity: 0.1;
  --shadow-color: #000000;
  --shadow-2xs: 0px 2px 0.5rem 0 hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 2px 0.5rem 0 hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 2px 0.5rem 0 hsl(0 0% 0% / 0.1),
    0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0px 2px 0.5rem 0 hsl(0 0% 0% / 0.1),
    0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0px 2px 0.5rem 0 hsl(0 0% 0% / 0.1),
    0px 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0px 2px 0.5rem 0 hsl(0 0% 0% / 0.1),
    0px 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0px 2px 0.5rem 0 hsl(0 0% 0% / 0.1),
    0px 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 2px 0.5rem 0 hsl(0 0% 0% / 0.25);
  --tracking-normal: -0.025em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1363 0.0364 259.201);
  --foreground: oklch(0.9851 0 0);
  --card: oklch(0.1363 0.0364 259.201);
  --card-foreground: oklch(0.9851 0 0);
  --popover: oklch(0.1363 0.0364 259.201);
  --popover-foreground: oklch(0.9851 0 0);
  --primary: oklch(0.8574 0.1748 90.9079);
  --primary-foreground: oklch(0.1363 0.0364 259.201);
  --secondary: oklch(0.4416 0.0895 93.0079);
  --secondary-foreground: oklch(0.9851 0 0);
  --muted: oklch(0.2319 0.0884 263.3392);
  --muted-foreground: oklch(0.5967 0.1906 264.2135);
  --accent: oklch(0.588 0.1197 91.2614);
  --accent-foreground: oklch(0.9851 0 0);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(0.9851 0 0);
  --border: oklch(0.2319 0.0884 263.3392);
  --input: oklch(0.2776 0.1118 263.218);
  --ring: oklch(0.8574 0.1748 90.9079);
  --chart-1: oklch(0.9549 0.195 109.5869);
  --chart-2: oklch(0.8254 0.1545 79.8562);
  --chart-3: oklch(0.6934 0.1943 45.7058);
  --chart-4: oklch(0.5501 0.1882 35.4738);
  --chart-5: oklch(0.4224 0.1708 28.909);
  --sidebar: oklch(0.1669 0.0548 262.2568);
  --sidebar-foreground: oklch(0.9851 0 0);
  --sidebar-primary: oklch(0.7928 0.1617 91.1075);
  --sidebar-primary-foreground: oklch(0.1363 0.0364 259.201);
  --sidebar-accent: oklch(0.5167 0.105 91.6221);
  --sidebar-accent-foreground: oklch(0.9851 0 0);
  --sidebar-border: oklch(0.205 0.0736 263.2873);
  --sidebar-ring: oklch(0.8574 0.1748 90.9079);
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Playfair Display', serif;
  --font-mono: 'Fira Code', monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 0.5rem;
  --shadow-spread: 0;
  --shadow-opacity: 0.3;
  --shadow-color: #000000;
  --shadow-2xs: 0px 2px 0.5rem 0 hsl(0 0% 0% / 0.15);
  --shadow-xs: 0px 2px 0.5rem 0 hsl(0 0% 0% / 0.15);
  --shadow-sm: 0px 2px 0.5rem 0 hsl(0 0% 0% / 0.3),
    0px 1px 2px -1px hsl(0 0% 0% / 0.3);
  --shadow: 0px 2px 0.5rem 0 hsl(0 0% 0% / 0.3),
    0px 1px 2px -1px hsl(0 0% 0% / 0.3);
  --shadow-md: 0px 2px 0.5rem 0 hsl(0 0% 0% / 0.3),
    0px 2px 4px -1px hsl(0 0% 0% / 0.3);
  --shadow-lg: 0px 2px 0.5rem 0 hsl(0 0% 0% / 0.3),
    0px 4px 6px -1px hsl(0 0% 0% / 0.3);
  --shadow-xl: 0px 2px 0.5rem 0 hsl(0 0% 0% / 0.3),
    0px 8px 10px -1px hsl(0 0% 0% / 0.3);
  --shadow-2xl: 0px 2px 0.5rem 0 hsl(0 0% 0% / 0.75);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} 
*/

body {
  background: white;
  color: var(--foreground);
  /* font-family: Arial, Helvetica, sans-serif; */
  letter-spacing: var(--tracking-normal);
}

/* 
---break---
*/

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
}
